<!-- <router-outlet></router-outlet> -->
<div class="container">
    
    <nav class="sidebar">
      <h2>My Website</h2>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/welcome" routerLinkActive="active">Welcome</a></li>
        <li><a routerLink="/data-binding" routerLinkActive="active">data binding</a></li>
        <li><a routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
        <li><a routerLink="/rectangle" routerLinkActive="active">Rectangle</a></li>
        <li><a routerLink="/circle" routerLinkActive="active">Circle</a></li>
        <li><a routerLink="/bmi" routerLinkActive="active">BMI</a></li>
        <li><a routerLink="/emi" routerLinkactive="active">EMI</a></li>
        <li><a routerLink="/moneyintrest" routerLinkactive="active">Moneyintrest</a></li>
        <li><a routerLink="/celsius" routerLinkactive="active">Celsius</a></li>
      </ul>
      <button class="logout-btn">Logout</button>
    </nav>
  
  

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>